*{
    margin: 0;
    padding: 0;
  
}
  
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000000;  
    line-height: 1.7;
  
}
/*p*/
p{
    color: #7d7d7d;
    font-size: 0.85rem;
}


/*Header*/
#header-div{
    
    background-color: #ffffff;
}
/*

/*Links*/
a{
    color: #949494;
}

a:hover{
    color:#000000;
}
/*Active link*/
.active{
    color:#000000;
}

/*Section-1 text on image*/
#container-first-section{
    
    position: relative;
    width: 100vw;
    margin: 0;
    padding: 0;

}
#row-img{
    position: relative;
    width: 100%;
    background-size: 100%;
  
}

#spann{
    font-size: 1rem;
}


 
#col-section-1{
    position: absolute;
    background-color: #2fc387;
    color: #ffffff;
    font-size: 1.5vmax;
    top: 7vw;    
    
}

/*Background color section 2-4*/
#section-2{
    background-color: #ffffff;
}
#section-3{
    background-color: #ffffff;
}
#section-4{
    background-color: #ffffff;
}


/*FOOTER*/
footer{
    background-color: #222222;
}
/*Table*/
#table{
    color: #7d7d7d;
     
     border-bottom: 1px solid #dddddd;;
}
#last-div{
    background-color: #111111;
}